* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --background-gradient: linear-gradient(to right bottom, #fbdb89, #f48982);
  --pale-pink: #f48982;
  --grey-background: #f9f5f3;
  --grey-background-2: #f2efee;
  --font: #615551;
  --font-2: #918581;
  --font-light: #bbb;
  --icon-light: #eeeae8;
  --green: #69db7c;
  --black-transparent: rgba(0, 0, 0, 0.25);
}

body {
  font-family: Nunito sans, sans-serif;
  background-image: var(--background-gradient);
  color: var(--font);
  font-size: 1.5rem;
  position: relative;
}

*:focus {
  outline: none;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}

.btn--orange {
  background-image: var(--background-gradient);
  color: white;
  border-radius: 10rem;
  padding: 1.2rem 1.8rem;
}

.btn--orange:hover {
  transform: scale(1.1);
}

.heading-2 {
  color: var(--pale-pink);
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.container {
  margin: 4vw auto;
  min-height: 117rem;
  max-width: 120rem;
  background-color: white;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.msg {
  padding: 5rem 4rem;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.msg-green {
  fill: var(--green);
}

.msg-pale {
  fill: var(--pale-pink);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: none;
}

.spinner {
  margin: 5rem 0;
  text-align: center;
}

.spinner svg {
  height: 5rem;
  width: 5rem;
  fill: var(--pale-pink);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

/**************************
Header
**************************/

header {
  grid-column: 1/-1;
  height: 10rem;
  background-color: var(--grey-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.logo {
  height: 4.7rem;
}

.nav {
  align-self: stretch;
}

.nav__list {
  height: 100%;
  display: flex;
  list-style: none;
  gap: 3rem;
  position: relative;
}

.nav__btn {
  height: 100%;
  padding: 0 1rem;
  color: inherit;
  transition: all 0.5s;
}

.nav__btn:hover {
  background-color: var(--grey-background-2);
}

.bookmarks {
  background-color: white;
  width: 40rem;
  z-index: 1;
  position: absolute;
  right: -5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s 0.2s;
}

.bookmarks:hover,
.nav__btn--bookmark:hover + .bookmarks {
  opacity: 1;
  visibility: visible;
}

.icon {
  height: 2.4rem;
  width: 2.4rem;
}

.icon--orange {
  fill: var(--pale-pink);
}

.icon--white {
  fill: white;
}

.search {
  background-color: white;
  border-radius: 10rem;
  display: flex;
  transition: all 0.5s;
  padding-left: 3rem;
}

.search:focus-within {
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.form-search__btn {
  padding: 1.5rem 4rem;
}

.search__field {
  width: 30rem;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
}

.search__field::placeholder {
  color: var(--font-light);
}

/**************************
Results
**************************/

.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.pagination {
  margin-top: auto;
  margin-bottom: 2rem;
  display: flex;
  padding: 0 3rem;
}

.search-results__btn {
  background-color: var(--grey-background);
  color: var(--pale-pink);
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
}

.search-results__btn:first-child {
  margin-right: auto;
}

.copyright {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
}

/**************************
Preview
**************************/

.preview {
  list-style: none;
}

.preview__link:link,
.preview__link:visited {
  text-decoration: none;
  height: 10rem;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 2rem;
  column-gap: 2rem;
  align-items: center;
  position: relative;
  transition: all 0.5s;
}

.preview__link:hover,
.preview__link:active {
  background-color: var(--grey-background);
  transform: translateY(-5px);
}

.preview__img {
  height: 6rem;
  width: 6rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.preview__img::before {
  content: '';
  height: inherit;
  width: inherit;
  background-image: var(--background-gradient);
  opacity: 0.4;
  position: absolute;
}

.preview__img img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.preview__link--active {
  background-color: var(--grey-background);
}

.preview__data {
  max-width: 25rem;
}

.preview__title,
.preview__publisher {
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.preview__title {
  color: var(--pale-pink);
  margin-bottom: 0.5rem;
}

.preview__publisher {
  font-size: 1.2rem;
  color: var(--font-2);
}

.preview__user--generated {
  background-color: var(--icon-light);
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -25%);
}

.preview__user--generated svg {
  fill: var(--pale-pink);
  height: 2rem;
}

/**************************
Recipe
**************************/
.recipe {
  background-color: var(--grey-background);
}

.recipe__fig {
  height: 32rem;
  width: 100%;
  position: relative;
}

.recipe__fig img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.recipe__fig::before {
  content: '';
  height: inherit;
  width: inherit;
  background-image: var(--background-gradient);
  opacity: 0.4;
  position: absolute;
}

.recipe {
  position: relative;
}

.recipe__title {
  font-size: 3.2rem;
  color: white;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%) skewY(-6deg);
  line-height: 1.9;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
}

.recipe__title span {
  -webkit-box-decoration-break: clone;
  background-image: var(--background-gradient);
  padding: 1.3rem 2rem;
}

.recipe__details {
  padding: 7rem 8rem 5rem 8rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.recipe__info {
  font-size: 1.8rem;
  display: flex;
  margin-right: 5rem;
}

.recipe__info-data {
  font-weight: 700;
  margin-left: 1rem;
}

.recipe__info-unit {
  margin-left: 0.5rem;
}

.recipe-container__btns {
  display: flex;
}

.btn--servings {
  fill: var(--pale-pink);
  border-radius: 50%;
}

.btn--servings:hover {
  transform: translateY(-5px);
}

.btn--servings svg {
  height: 2rem;
}

.user--generated,
.btn--bookmark {
  padding: 1rem;
  border-radius: 50%;
}

.user--generated {
  fill: var(--pale-pink);
  background-color: var(--grey-background-2);
  margin-left: auto;
  display: flex;
  align-items: center;
}

.btn--bookmark {
  fill: white;
  background-image: var(--background-gradient);
  margin-left: 2rem;
}

.btn--bookmark:hover {
  transform: scale(1.2);
}

.recipe-ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey-background-2);
  padding: 5rem 8rem;
}

.recipe-ingredients__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 3rem;
}

.recipe-ingredients__list li {
  display: flex;
  gap: 0.5rem;
}

.recipe__quantity {
  flex-shrink: 0;
}

.recipe-directions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 8rem;
}

.recipe-directions p {
  text-align: center;
  color: var(--font-2);
  font-size: 1.8rem;
  margin-bottom: 5rem;
}

/**************************
modal upload
**************************/

.overlay {
  height: 100%;
  width: 100%;
  background-color: var(--black-transparent);
  backdrop-filter: blur(3px);
  top: 0;
  position: fixed;
  transition: all 1s;
}

.upload {
  background-color: white;
  border-radius: 1rem;
  width: 100rem;
  padding: 5rem 6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.upload__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 6rem;
  transition: all 1s;
}

.upload__column {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  align-items: center;
  gap: 1.5rem;
}

.upload label {
  font-family: inherit;
  font-size: 1.6rem;
}

.upload input {
  border-radius: 0.5rem;
  border: 1px solid var(--font-light);
  font-family: inherit;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
}

.upload input:focus {
  border: 1px solid var(--pale-pink);
  background-color: var(--grey-background);
}

.upload input::placeholder {
  color: var(--font-light);
}

.upload__heading {
  text-transform: uppercase;
  font-size: 2.2rem;
  grid-column: 1/-1;
  margin-bottom: 1rem;
}

.btn--upload__close {
  font-size: 3.5rem;
  font-weight: 400;
  color: #615551;
  top: 0;
  right: 0;
  position: absolute;
  transform: translate(-75%, 25%);
}

.modal__submit {
  grid-column: 1/-1;
  margin: auto;
  padding: 1.5rem 4rem;
}

/*# sourceMappingURL=index.3a01df49.css.map */
